<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand" ><i id="icon228" class="material-icons material-icons md-48">store</i></a>
    <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
    <div id="navbar" class="collapse navbar-collapse justify-content-between">

        <ul class="navbar-nav">
            <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" type="button" href="{% url 'go_to_home_page' %}">All Products</a>
              {% for category in links %}
                  <a class="dropdown-item" type="button" href="{{ category.get_url }}">{{ category.name }}</a>
              {% endfor %}
              </div>
            </div>
            </li>

            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contacts</a></li>
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'go_to_home_page' %}">About</a></li>
            {% if item_count > 0 %}
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
                <i class="material-icons cart-icon">shopping_cart</i>()
            {{ item_count }}
            </a></li>
            {% endif %}
        </ul>

        <form class="form-inline">
            <div class="input-group">
                <input type="text" placeholder="Search">
                <div>
                    <button><i id="icon228" class="material-icons material-icons md-24">search</i></button>
                </div>
            </div>
        </form>
    </div>
</nav>
